BigInt improvements

- [ ] Operators (+-/* etc)
- [ ] benchmarks for different operations
- [ ] BigIntRange
- [ ] toByte/toInt/etc exact variants (which will fail on overflow)
- [ ] Integration with Random API
- [ ] align exceptions, validation, error messages between platforms


Maybe also an interesting addition would be mpint encoding (RFC 4251, §5)