Supported Algorithms, Operations, Providers

The current issue is just a dashboard for all algorithms/operations/providers supported or planned to be supported by the library. Status is updated after release where specific item is implemented. List is ordered only by release version and doesn't represent priority in which new items will be implemented.
Feel free to comment if you are missing something from or outside the list!

For detailed information about which provider support which algorithms please consult documentation: https://whyoleg.github.io/cryptography-kotlin/primitives/operations/

> Status is provided in format of [ ] when it’s not implemented and [x] (X.Y.Z) when it’s implemented in version X.Y.Z

## Algorithms
- [x] (0.1.0) MD5 (hash) - DELICATE
- [x] (0.1.0) SHA1 (hash) - DELICATE
- [x] (0.1.0) SHA256, SHA512 (hash)
- [x] (0.1.0) HMAC (mac)
- [x] (0.1.0) AES-CBC (cipher)
- [x] (0.1.0) AES-GCM (cipher)
- [x] (0.1.0) RSA-OAEP (cipher)
- [x] (0.1.0) RSA-PSS (signature)
- [x] (0.1.0) ECDSA (signature)
- [x] (0.2.0) SHA224, SHA384 (hash)
- [x] (0.2.0) SHA3 family (hash)
- [x] (0.2.0) RSA-PKCS1-V1.5 (signature)
- [x] (0.3.0) AES-CTR (cipher)
- [x] (0.4.0) ECDH (key agreement)
- [x] (0.4.0) PBKDF2 (prf)
- [x] (0.4.0) HKDF (kdf)
- [x] (0.4.0) AES-ECB (cipher) - DELICATE
- [x] (0.4.0) RSA without padding (cipher/ signature[?]) - DELICATE
- [x] (0.4.0) RSA-PKCS1-V1.5 (cipher) - DELICATE
- [x] (0.5.0) CMAC (mac)
- [x] (0.5.0) RIPEMD160 (hash)
- [x] (0.6.0) EdDSA (signature)
- [x] (0.6.0) XDH (key agreement)
- [x] (0.6.0) DH (key agreement)
- [x] (0.6.0) DSA (signature)
- [x] (0.6.0) ChaCha20-Poly1305 (cipher)
- [x] (0.6.0) AES-CCM (cipher)
- [x] (0.6.0) AES-OFB (cipher) - DELICATE
- [x] (0.6.0) AES-CFB (cipher) - DELICATE
- [x] (0.6.0) AES-CFB8 (cipher) - DELICATE
- [ ] (0.7.0) XChaCha20-Poly1305 (cipher)
- [ ] (0.7.0) AES-KW (key wrap/unwrap)
- [ ] (0.7.0) Agron2 (prf)
- [ ] (0.7.0) scrypt (prf)
- [ ] (0.7.0) bcrypt (prf)
- [ ] (0.7.0) SHAKE (hash)
- [ ] (0.7.0) DHKEM (kem)
- [ ] (0.7.0) MLDSA (signature) - PQC
- [ ] (0.7.0) MLKEM (kem) - PQC
- [ ] (0.7.0) Blake (hash)

## Operations
- [x] (0.1.0) Hashing
- [x] (0.1.0) Cipher and AEAD Cipher
- [x] (0.1.0) Signature generation and verification
- [x] (0.4.0) Key agreement
- [x] (0.4.0) Key derive (kdf/prf)
- [ ] (0.7.0) Key wrap/unwrap
- [ ] (0.7.0) Hybrid Encryption
- [ ] (0.7.0) KEM (Key encapsulation mechanism)

## Providers
- [x] (0.1.0) WebCrypto
- [x] (0.1.0) Apple
- [x] (0.1.0) JDK
- [x] (0.1.0) OpenSSL3
- [x] (0.5.0) CryptoKit
- [ ] Windows CNG
- [ ] AWS/GCP KMS provider
- [ ] BorringSSL (optional, in addition to openssl)
- [ ] NodeJS engine 
- [ ] OpenSSL3 KMP (JVM , may be JS/Wasm)
- [ ] wasi-crypto or via component model

Hi, I have a project which requires AES-ECB for iOS and Android. It would be great if you could implement this mode. Thanks!

Hey @dominikkv, could you please describe a use case for AES-ECB just in case?

Hi @whyoleg, in this project we communicate with a bike lock via BT LE. During the authentication process the lock sends us a challenge, which we have to decrypt, modify, and encrypt again, to send the result back to the lock.

Thanks for considering the implementation of AES-ECB!

Thanks @dominikkv!
I will add AES-ECB to plans, though, as this algorithm is some kind of "legacy/unsafe", I'm not sure yet, what will be the best way to show this when using the library.
Still, I will try to come up with something!

Hi @whyoleg, one idea would be to annotate the function / class with a "Unsafe to use" opt-in annotation: https://kotlinlang.org/docs/opt-in-requirements.html

Yeah, that't the simplest way here...
But there are some usability issues with opt-in:
* the declarations are still present in completion
* IDEA will allow to opt-in into this in a one click - not really convenient as AFAIK users are frequently ignoring what annotation say
* API reference will still have all those declarations in one place

On current moment I thinking about introducing of additional module for this, so that if it's `REALLY` needed it will be possible to add module and so use those algorithms.
But I'm not yet finalised design here, so, thanks for your comment!

Hi @whyoleg, I'm planning to use this lib in my crypto lib but some critical hashes and functions are missing. can we add RIPEMD160 and prioritize it? SHA256 and RIPEMD160 are fundamental hashes in Bitcoin. 

Hey @huskcasaca, `RIPEMD160` is rather specific hash and is not supported out of the box even in JDK (only with BouncyCastle). So may be it will be much simpler to use it from somewhere else. I do think, that we can try to implement `RIPEMD160` from scratch, but I would like to avoid introducing `from scratch` things as much as possible.
Also, what do you mean by `prioritize it`? Just implement it earlier or something else?

`PBKDF2` will be supported in upcoming release. The story with `scrypt` is similar to `RIPEMD160`.

Also, I do have a plan to introduce better integration with BouncyCastle (via separate provider), so that we could have BouncyCastle+openssl combination for Android+iOS cases at least. No dates for when this will happen.

If you are willing to contribute something, please create a separate issue and let's discuss possibilities

@whyoleg Yes, it would be nice to implement it earlier since the most widely used scenarios for crypto libraries are for cryptocurrencies, and `RIPEMD160` and `PBKDF2` are key algorithms for that.

I will do some research first for future contributions.

 IOS need the AES-GCM，how to do?

> KMP platform IOS need the AES-GCM，how to do?

Hey, you just need to add dependencies as shown [here](https://whyoleg.github.io/cryptography-kotlin/#using-in-your-projects) and then you can take a look on AES-GCM [example](https://whyoleg.github.io/cryptography-kotlin/examples/#aes-gcm) on how to use library APIs

> > KMP platform IOS need the AES-GCM，how to do?
> 
> Hey, you just need to add dependencies as shown [here](https://whyoleg.github.io/cryptography-kotlin/#using-in-your-projects) and then you can take a look on AES-GCM [example](https://whyoleg.github.io/cryptography-kotlin/examples/#aes-gcm) on how to use library APIs

Unfortunately at this moment AES-GCM is not supported by iOS provider, do you plan to add it in near future?
Thanks! 

Hi @whyoleg 
Thank you for creating this fantastic library! I was wondering if there are any plans to add support for AES-GCM to the iOS provider. Since AES-GCM has become the recommended way for AES encryption, having this feature would be a great addition.

Hey @Bingoliallen, @sgozdzik , @ajeeb-bin-hamid !
It's nice to hear great words regarding library!
Unfortunately, AES-GCM is not supported in `Apple` provider not because I don't want to support it, but because it's not available via Apple CoreCrypto APIs. AES-GCM is available on iOS/macOS/etc only via [CryptoKit](https://developer.apple.com/documentation/cryptokit/aes/gcm) which is Swift only framework. On current moment, there is no direct swift-import in Kotlin/Native, but it's still possible, for example using [swift-klib-plugin](https://github.com/ttypic/swift-klib-plugin).
I would like to add support for this, but unfortunately, I don't have a lot of time recently. Still, If someone is willing to contribute, I'm happy to help here!

Awesome library!

I'm very glad to see you have ChaCha20-Poly1305 on the list.

I'll be waiting.

Thank you! :heart: 

Hi, thanks for making this helpful tools. 

I want to make request to provide the AES-OFB because my project currently work using that.

Hi, thank you for this awesome library!

One algorithm that I'd like to see implemented is plain Diffie-Hellman (DH).

Reason: As of now, even though ECDH is supported, DH is still required for a compliant SSH implementation (see RFC 9142, §4, `diffie-hellman-group14-sha256` is `MUST`).

I did some preliminary research and it seems like this is the support on different platforms:

- JDK: ✅ (via SunJCE JCA Provider)
- OpenSSL: ✅
- CommonCrypto: ✅
- CryptoKit: ❌ (but as I understand it, CommonCrypto or OpenSSL could still be used as fallbacks on an Apple platform)
- WebCrypto: ❌ (but https://www.npmjs.com/package/diffie-hellman exists)

Therefore I think it could be implemented by adding it to the JDK, OpenSSL and CommonCrypto providers, covering every platform except for web. The `diffie-hellman` npm package seems to wrap an integrated implementation on NodeJS but is a plain JS Impl for Browser (because WebCrypto does not support DH). I wouldn't consider a self-made plain JS implementation secure in regards to XSS or sidechannel/timing attacks, there is also a story about a vulnerable DH implementation in Firefox, which was removed. So, if this package is used, the web impl should atleast have some delicate API annotation warning about security considerations.

Generally speaking, I'd consider DH as a legacy algorithm (thanks to ECDH) but still required for certain protocols.

I'd be interested in helping with the implementation, if someone could give me some pointers on where to start. Should I open a new issue for this?